h1 = @article.title
p = @article.summary
p
  strong = @article.category.try :name

= img @article.picture.regular if @article.picture?

hr
p = simple_format @article.body

= link_to 'Voltar', admin_articles_path, class: 'btn'
